*,
html {
    border: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

/*---header---*/
.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #f3e6d3;
}

.canlou_logo {
    width: 50px;
    margin: 5px 10px;
}

.user_profile {
    height: 30px;
    margin: 20px;
    width: auto;
}

/*---main content---*/
main {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recycle_button,
.reuse_button {
    text-decoration: none;
    color: white;
    background-color: #c2c2c2;
    width: 96px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.recycle_button {
    margin-bottom: 50px;
}