*,
html {
    border: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

/*---header---*/
.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #f3e6d3;
}

.canlou_logo {
    width: 60px;
    margin: 0 10px;
}

.user_profile {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

/*---main content---*/
h1 {
    margin-left: 5%;
    margin-top:5%;
}
.options {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items_button,
.tickets_button {
    text-decoration: none;
    color: black;
    background-color: #c2c2c2;
    width: 96px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.items_button {
    margin-bottom: 50px;
}