*,
html {
    margin: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;

}

/*---body---*/

body{
    background-color: #f3e6d3;
}

/*---head--*/
header {
    text-align: center;
}
img {
    width: 200px;
    margin-top: 20px;
}

.slogan {
    color: #4c4b47;
}

/*---main content---*/
.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 50px 112px;
}

.sign_up {
    margin: 10px 0;
}

a[class*="sign"] {
    display: flex;
    height: 48px;
    width: 96px;
    background-color: #c2c2c2;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 14px;
}

/*---footer---*/
footer {
    text-align: center;
    margin-top:50px;
}

a {
    text-decoration: none;
    
}
.jam3company {
    color: #bbbf82;
}