/*UNIVERSAL*/ 
*, 
html { 
    margin: 0; 
    border: 0; 
    font-family: 'Quicksand', sans-serif; 
} 
/*header*/ 
.main-nav{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 60px; 
    background-color: #f3e6d3 
} 
.canlou_logo { 
    width: 60px; 
    margin: 0 10px; 
} 
 
.user_profile { 
    width: 40px; 
    height: 40px; 
    margin: 0 10px; 
} 
/*main*/
.the-ideas {
    display: block;
    margin: auto;
    margin-top: 15%;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 11%;
}
.left {
    height: 30px;
    width: 60px;
    margin-right: 2.5%;
}
.right {
    height: 30px;
    width: 60px;
}